---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
import MainLayout from '../layouts/MainLayout.astro';

const name = 'Johan Mosquera';
const URL = 'Inicio';
---

<MainLayout title="Home Page">
	<h1>Index</h1>
</MainLayout>
